.enlarged-image {
    overflow: hidden;
    width: 50vw;
    height: 100vh;
    margin-left: auto;
    position: fixed;
    top: 0;
    left: 60vw;
    z-index: -1;

}

.my-other-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
}

.header-container {
    transform: rotate(90deg);
    width: 40vw;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 46.1%;
    right: 76.5%;
}

.about-me-header {
    font-size: 6vw;
    font-weight: 700;

}

.paragraph-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12%;
    left: 15.1%;
    flex-shrink: 0;

}

.paragraph-highlight-color {
    color: #BABABA;
}

.text {
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 15px;
    text-align: left;

}

.text2 {
    font-size: 20px;
    font-weight: 650;
    margin-bottom: 15px;
    text-align: left;
}

.text3 {
    font-size: 20px;
    font-weight: 650;
    text-align: left;
}

/* 
.skills-container {
    width: 11vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 15.1%;
    top: 71%;
    left: 15.1%;
    background-color: blueviolet;
}
 */

.skills-container {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 100%;

}

.skills-header {
    font-size: 5vh;
    font-weight: 700;

}

.skill-badges-container {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 110%;
    text-align: left;
}

.skills {
    font-size: 17px;
    font-weight: 600;
    color: rgb(39, 70, 58)
}